footer {
    background-color:  #84754E;
}

#footerList {
    list-style-type: none;
}

.list-group-item {
    background-color: #84754E !important;
    border: none !important;
    border-right: 2px solid rgb(90, 90, 90) !important;
}

.list-group-item:last-child {
    border-right: none !important;
}

#footerList li a {
    color: #2D2926;
    text-decoration: none;
}

#footerList li a:hover {
    color: #cfb061;
}



.linkContatti {
    color: #2D2926 !important;
    text-decoration: none !important;
}

.linkContatti:hover {
    color: #cfb061 !important;
}