table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 700px;
}

tr {
    height: 100px;
    border: 1px solid black;
}

th, td {
    width: 33%;
    text-align: center;
    border: 1px solid black;
}
a {
    background-color: red;
    color: white;
}

.test {
    background-color: chartreuse;
}