/* Your styles here */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.65;

}

/* Header */
header {
    padding: 50px;
    background-color: black;
    margin: 0;
}
#logo {
    width: 200px;
}

/* Main */
main {
    margin: 0;
    box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h1, h3, h4{
    color: #25a2c3;
}

#Banner { 
    padding: 50px;
    box-sizing: border-box;
    background-image: url(../images/banner.jpg);
    background-size: cover;
}

#button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #f04c2f;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}
.articoli {
    margin: 35px;
}
#notebook {
    border-radius: 50% 50% 50% 50%;
    width: 75%;
}
div {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #e22d0e;
    color: white;
}
blockquote p:last-child {
    font-size: small;
}
/* Aside */
.articoliAside {
    margin: 50px;
    border-collapse: collapse;
    border: 2px solid #dee1e3;
    width: 0 auto;
    
}
aside article img {
    width: 100%;
}
aside article h4 {
    padding-top: 10px;
}
aside article p {
    margin: 0;
    padding: 30px;
}
/* Footer */
footer {
    margin: 0;
    background-color: #25a2c3;
    color: #c8e7f0;
}

footer h2{
    padding: 20px;
    color: white;
}

footer a:link, footer a:visited {
    color: #c8e7f0;
}
span {
    display: block;
    
}
hr {
    width: 50%;
}