input {
    height: 35px;
}

#btnSearch {
    background-color: rgb(83, 19, 143);
    height: 35px;
}

#btnResetSearch {
    background-color: rgb(83, 19, 143);
    height: 35px;
}

.checkbox {
    cursor: pointer;
}