#recommendedContainer {
    background-color: #181818;
}

mdb-carousel, #filmsContainer {
    background-color: #181818;
    
}

mdb-carousel-item {
    height: 80vh;
}

.card {
    width: 20%;
    height: 80%;
}

.card-img-top {
    height: 60%;
}   

.card-body {
    height: 25%;
}

.card-footer {
    height: 15%;
}   