#filmTopMain {
    height: 80vh;
    background-image: linear-gradient(to right, #181818 10%, rgba(255, 255, 255, 0) 100%),
        url("https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeyKckp2fVF0YHcFUfj7cqcSwYvfWwByXVtEd9FZ2rQrLida-8tEyraw_J_kolikUzvukP8c4LeGNkxwELjAApP6uJRaUR8EVFKl.jpg?r=006");
    background-size: cover;
}

#titoloFilmTopMain {
    width: 75%;
}