<div class="container-fluid ps-5 d-flex justify-content-start align-items-center py-5" id="filmTopMain">
    <div class="row w-50">
        <img src="https://occ-0-4525-2581.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABZNK4G2vjR8cm1iC3k8u9VX8vrcHZT2cut7Q5t1pyE7xOTTA5NuTl0STYFYPizJ0pLLsvywL4H2mA84hS9lDn5mo-Nxb4XHFesAnN7dv0gRg.png?r=777"
        class="col-12 mb-4"    
        id="titoloFilmTopMain">
        <h2 class="col-12 align-self-start text-white mb-3">Interstellar</h2>
        <p class="col-12 align-self-start text-white">2014 | 13+ | 2h 49m | Fantascienza</p>
        <p class="col-12 align-self-start text-white">L'umanità è sull'orlo dell'estinzione e un gruppo di astronauti viaggia attraverso un wormhole alla ricerca di un altro pianeta abitabile.</p>
    </div>

</div>
