<div class="container-fluid m-0 p-5">
    <div class="row d-flex justify-content-center">
        <h2 class="mb-4 display-2 text-center fw-semibold">Car details:</h2>
        <div class="card col-8 p-5">
            <div class="card-img-top p-3 d-flex justify-content-center">
                <img src="{{post.modelImage}}" alt="image {{post.model}}" class="rounded-3">
            </div>
            <div class="card-body">
                <h2 class="card-title my-4 display-5">{{ post.model }}</h2>
                <p class="card-text fs-4">{{ post.year }}</p>
                <p class="card-text fs-4">{{ post.description }} </p>
                <p class="badge me-1 text-uppercase card-text my-2 fs-4 p-4">{{ priceView }} €</p>
            </div>
        </div>
    </div>
</div>