.container-fluid, .badge{
    background-color: #cfb061;
}

h2 {
    color: #2D2926;
}

.card {
    background-color: #84754E;
}

.card-img-top {
    width: 100%;
    
}

.card-body {
    color: #cfb061;
}

